<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :survey_title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.fields_for :questions do |question| %>
      
      <%= question.label :question_title %>
      <%= question.text_field :title %> 
      
      <%= question.fields_for :question_options do |question_option| %>
        <%= question_option.label :question_option_title %>
        <%= question_option.text_field :title %>
      <% end %>

    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
