<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @survey.title %>
</p>

<p>
  <% @survey.questions.each do |question| %>
    <%= question.title %>
    <% question.question_options.each do |question_option| %>
      <%= question_option.title %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
