<%= form_for( [ @survey, @respondent ] ) do |form| %>
  <% if respondent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(respondent.errors.count, "error") %> prohibited this respondent from being saved:</h2>

      <ul>
      <% respondent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :survey_id %>
    <%= form.text_field :survey_id %>
  </div>

  <div class="field">
    <% @survey.questions.each do |question| %>
      <%= question.title %>
      <%= form.fields_for :answers do |answer| %>
        <%= answer.hidden_field :question_id, value: question.id %>
        <% question.question_options.each do |question_option| %>
          <%= answer.fields_for :answer_options do |answer_option| %>
            <%= answer_option.radio_button :question_option_id, question_option.id %>
            <%= answer_option.label :question_option_id, question_option.title %>          
          <% end %>
        <% end %>  
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
