<p id="notice"><%= notice %></p>

<h1>Respondents</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Survey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @respondents.each do |respondent| %>
      <tr>
        <td><%= respondent.name %></td>
        <td><%= respondent.survey %></td>
        <td><%= link_to 'Show', @survey.respondent, respondent %></td>
        <td><%= link_to 'Edit', edit_respondent_path(respondent) %></td>
        <td><%= link_to 'Destroy', respondent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Respondent', new_respondent_path %>
