<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @respondent.name %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @respondent.survey.title %>
</p>

<p>
  <% @respondent.answers.each do |answer| %>
    <%= answer.question.title %> <br>
    <% answer.answer_options.each do |answer_option| %>
      <%= answer_option.question_option.title %>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_survey_respondent_path(@respondent) %> |
